/*
  FONTS
  Variables
  General
  Header
  Main
  Images
  footer
  Media Queries
  Notes
*/
/*--------->FONTS<-----------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*--------->Variables<-----------*/
:root {
  /*--dark: #;*/
}

/*--------->General Styles<-----------*/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
}

#container {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  height: 100vh;
}

/*--------->HEADER<-----------*/
header {
  grid-row: 1/2;
  margin: 1em;
}

.nav-bar ul {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar ul li {
  display: inline-block;
  padding: 0.8%;
}

.nav-bar a {
  color: #000;
  display: inline;
  text-decoration: none;
}

.nav-bar li:not(:last-child) a:hover {
  text-decoration: underline;
}

.nav-bar a {
  text-decoration: none;
}

.material-icons {
  color: #5f6368;
}

.material-icons {
  font-size: 1.5em;
  /*This solves the problem to align the apps icon*/
  vertical-align: bottom;
}

 #apps a:hover {
   border-radius: 50%;
   background: #F2F2F2;
   padding: 10px;


}

.iniciar-sesion a {
  background: #2b7de9;
  border-radius: 5px;
  color: #fff;
  padding: 0.6em 1.5em;
}

/*--------->Main<-----------*/
main {
  grid-row: 4/9;
}

#main-content {
  align-items: center;
  display: flex;
  flex-flow: column;
}

img .main-image {
  max-width: 100%;
  height: auto;
}

#main-content #search-bar {
  border-radius: 100px;
  width: 37em;
  height: 40px;
}

#search-bar:hover {
  box-shadow: 0 0 9px rgba(33,33,33,.2);
}

input {
  border: 1px solid lightgrey;
}

.search-buttons {
  display: flex;
  padding: 1em;
}

.search-buttons a {
  background: #f8f9fa;
  border-radius: 5px;
  color: #000;
  margin: 0 0.5em 0 0;
  padding: 0.5em 1em;
  text-decoration: none;
}

.search-buttons a:hover {
  box-shadow: 0px 0px 2px grey;
}

/*--------->Footer<-----------*/
footer {
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  grid-row: 9/10;
}

footer a {
  text-decoration: none;
  color: #6F6F6F;
  padding: 0 2em 0 0;
}

footer .country {
  align-items: flex-start;
  display: flex;
  margin-left: 2.5em;
}

footer .about {
  border-top: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
}

.about li {
  display: inline-block;
  text-decoration: none;
}

/*--------->Media Queries<-----------*/
/*This rule is just for the projects to adapt to screen better*/
@media (max-width: 1086px) {
  .main-image {
    width: 100%;
    height: auto;
  }

  footer .about {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  #main-content {}
}

@media (max-width: 640px) {
  #main-content #search-bar {
    width: 30em;
  }
}

@media (max-width: 481px) {
  #main-content #search-bar {
    width: 27em;
  }
}

@media (max-width: 385px) {
  #main-content #search-bar {
    width: 25em;
  }
}

/*--------->NOTES<-----------*/
/*
- Para centrar algo horizontalmente en navegadores modernos, usa display:
 flex; justify-content: center;

- Sin embargo, en navegadores antiguos como IE8-9, flexbox no está disponible.
Para poder centrar un elemento horizontalmente con respecto a su contenedor,
usa margin: 0 auto;

*/
