/*
  FONTS
  Variables
  General
  Header
  Main
  Images
  footer
  Media Queries
  Notes
*/
/*--------->FONTS<-----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@00&display=swap');

/*--------->Variables<-----------*/
:root {
  /*--dark: #;*/
}

/*--------->General Styles<-----------*/
body {
  /*margin: 0 auto;*/
  max-width: 100%;
  text-align: center;
}

/*--------->HEADER<-----------*/
#main-content #search-bar {
  width: 27%;
  border-radius: 100px;
  height: 4%;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar ul li {
  display: inline-block;
  padding: 0.5%;
}

.nav-bar a {
  text-decoration: none;
  display: inline;
  color: #000;
}

.material-icons {
  color: #5f6368;
}

.material-icons {
  font-size: 1.5em;
  /*This solves the problem to align the apps icon*/
  vertical-align: bottom;
}

.iniciar-sesion a {
  color: #fff;
  background: #2b7de9;
  padding: 0.6em 1.5em;
  border-radius: 5px;
}

/*--------->Main<-----------*/
#main-content {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 90vh;
  justify-content: center;
}

img .main-image {
  max-width: 100%;
  height: auto;
}

.search-buttons{
  display: flex;
  padding: 1em;

}

.search-buttons a {
  color: #000;
  background: #dadce0;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 0 0.5em 0 0;
  text-decoration: none;
}

/*--------->Footer<-----------*/
/*--------->Media Queries<-----------*/
/*This rule is just for the projects to adapt to screen better*/
@media (max-width: 1086px) {
  .main-image {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #main-content {}
}

@media (max-width: 640px) {}

/*--------->NOTES<-----------*/
/*
- Para centrar algo horizontalmente en navegadores modernos, usa display:
 flex; justify-content: center;

- Sin embargo, en navegadores antiguos como IE8-9, flexbox no está disponible.
Para poder centrar un elemento horizontalmente con respecto a su contenedor,
usa margin: 0 auto;

*/
